<h1>{{title}}</h1>
<p>Welcome to THE PAGE WITH EVERY COURSES !!!</p>

<h1>index</h1>

<p>Chercher un cours</p>

{{#each courses}}
<div>
    <img src="{{this.image}}" alt="IMG">
    <ul>
        <li>
            <h3>Title: {{this.title}}</h3>
        </li>
        <li>
            <p>Description: {{this.description}}</p>
        </li>
        <li>
            <p>DATE: {{this.date}}</p>
        </li>
        <li>
            <p>PRICE: {{this.price}}$</p>
        </li>
        <li>
            <p>CATEGORY: {{this.category.category}}</p>
        </li>
        <li>
            {{#each participants}}
            <p>{{this.name}}</p>
            {{/each}}
        </li>

        <li>
            <p>Place :{{this.place}}</p>
        </li>
        <li>
            <p>Min people: {{this.minPeople}}</p>
        </li>
        <li>
            <p>Max people : {{this.maxPeople}}</p>
        </li>
    </ul>
    <button><a href="/{{this._id}}">Discover this course</a></button>
</div>
{{/each}}