<h1>My courses</h1>


<section class="future-courses">
    <h3>Future Courses</h3>
        {{#each futureCourses}}
        {{this.title}}
        {{this.description}}
        {{this.price}}
        {{formatDate this.date}}
        {{this.minPeople}}
        {{this.maxPeople}}
        {{this.place}}
        <img src="{{this.image}}" alt="img" />
        {{this.category.category}}
    {{/each}}
</section>

<section class="past-courses">
    <h3>Past Courses</h3>
    {{#each pastCourses}}
        {{this.title}}
        {{this.description}}
        {{this.price}}
        {{formatDate this.date}}
        {{this.minPeople}}
        {{this.maxPeople}}
        {{this.place}}
        <img src="{{this.image}}" alt="img" />
        {{this.category.category}}
    {{/each}}
</section>





{{!-- <form action="edit/{{this._id}}" method="GET">
<button> Edit this course</button>
</form> --}}
{{!-- <a href="/{{this._id}}">voir ce cours</a>

{{/each}} --}}