<h1>My courses</h1>
{{#each courses}}
<img src="{{this.image}}" alt="img" />
<ul>
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.price}}</li>
    <li>Price update: {{priceUpdate this.participants this.price}}</li>
    <li>{{this.date}}</li>
    <li>{{this.minPeople}}</li>
    <li>{{this.maxPeople}}</li>
    <li>{{this.place}}</li>
    <li>Teacher: <img src="{{this.teacher.image}}" alt=""></li>
    {{#each participants}}
    <li>Participants: <img src="{{this.image}}" alt=""></li>
    {{/each}}
    <li>{{this.category.category}}</li>
    <p>{{placesLeft this.participants this.maxPeople}} places left</p>
</ul>
{{!-- <form action="edit/{{this._id}}" method="GET">
<button> Edit this course</button>
</form> --}}

<h3><a href="/{{this._id}}">voir ce cours</a></h3>

{{/each}}