<h1 class="h1-vlad">My courses</h1>
<h2 class="h2-date-vlad">{{this.date}}</h2>
<div class="flex-ctn">
    <div class="global-vignette-container">
        {{#each courses}}
        <div class="vignette-container">
            <div class="vignette-container-inside">
                <article class="teacher-vignette">
                    <a class="vignette-link" href="/{{this._id}}">
                        <img class="vignette-main-image" src="{{this.image}}" alt="img" />
                        <div id="contain-teacher" class="cercle">
                            <img class="cercle teacher-image" src="{{this.teacher.image}}" alt=""></li>
                            <h4>{{this.teacher.name}} </h4>
                            <h4>{{this.teacher.lastname}}</h4>
                        </div>
                        <div>
                            <h3 class="date-vignette">{{formatDate this.date}}</h3>
                        </div>
                </article>
                <div class="vignette-inside">
                    <div class="title-tag">
                        <div>
                            <h2>{{this.title}}</h2>
                        </div>
                        <div>
                            <p class="tag">{{this.category.category}}</p>
                        </div>
                    </div>
                    <p class="overflow-ellipsis vignette-description">{{this.description}}</p>
                    {{!-- <li>{{this.date}}</li> --}}
                    <div class="vignette-bottom">
                        <div class="vignette-bottom-left">
                            {{#each participants}}
                            <img class="cercle" src="{{this.image}}" />
                            {{/each}}
                        </div>
                        <div class="vignette-bottom-right">
                            <h2>{{priceUpdate this.participants this.price}}$ / pers </h2>
                            <p>{{placesLeft this.participants this.maxPeople}} places left</p>
                        </div>
                    </div>
                    {{!-- <h3><a href="/{{this._id}}">voir ce cours</a></h3> --}}
                </div>
            </div>
        </div>
        </a>
        {{/each}}
    </div>
</div>