<h1>Courses prof dashboard</h1>

<a href="/courses/add">Create a new course</a>

{{#each courses}}
<h3>{{this.title}}</h3>
<h3>{{this.description}}</h3>
<h3>{{this.price}}</h3>
<h3>{{this.date}}</h3>
<h3>{{this.minPeople}}</h3>
<h3>{{this.maxPeople}}</h3>
<h3>{{this.place}}</h3>
<img src="{{this.image}}" alt="img" />
<h3>{{this.id_cat}}</h3>

{{/each}}